[Desktop Entry]
Name=BFVR-VR-SecretWeapons
Exec=wine C:\\\\windows\\\\system32\\\\cmd.exe
Type=Application
StartupWMClass=BF1942.exe

[Extra Data]
container_id=3
screenSize=3120x1430
execArgs=/c D:\BF1942\BFVR-VR-SecretWeapons.bat
